<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso de cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaboralKutxaTPV"
        tools:targetApi="31">

        <!-- Actividad de login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.LaboralKutxaTPV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LaboralKutxaTPV">
        </activity>

        <!-- Agrega la Activity de realizar compra -->
        <activity android:name=".VentanaRealizarCompraActivity" />

        <!-- Agrega la Activity de selección de método de pago -->
        <activity android:name=".SeleccionMetodoPagoActivity" />

        <!-- Agrega la Activity de monto final -->
        <activity android:name=".VentanaMontoFinal" />

        <!-- Agrega la Activity de confirmacion pago -->
        <activity android:name=".VentanaConfirmacionPago" />

        <activity android:name=".VentanaPasaTarjeta" />

        <activity android:name=".VentanaSeleccionarCupon" />

        <!-- Agrega la Activity de monto final -->
        <activity android:name=".ContrasenaOlvidada" />

        <!-- Agrega la Activity de gestión de productos -->
        <activity
            android:name=".GestionProductosActivity"
            android:label="Gestión de Productos"
            android:parentActivityName=".MainActivity" />

        <!-- NUEVA actividad de escaneo de QR -->
        <activity android:name=".QRCodeScannerActivity" />

        <!-- NUEVA actividad que muestra "Cupón de 20% detectado" -->
        <activity android:name=".CouponDetectedActivity" />

        <!-- NUEVA actividad de encuesta de satisfacción -->
        <activity android:name=".EncuestaSatisfaccionActivity" />

        <activity android:name=".IntroducirPago" />
        
        <!-- Nueva actividad para introducir pago con teclado tipo TPV -->
        <activity android:name=".IntroducirPago2" />

    </application>

</manifest>